body {
  margin: 0;
  font-family: 'Supreme-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Supreme-Regular';
  src: local('Supreme'), url(./fonts/Supreme-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Supreme-Bold';
  src: local('Supreme'), url(./fonts/Supreme-Bold.otf) format('opentype');
}